<section class="section--about section-primary">
	<div class="wrapper">
		<h2>About Us</h2>
		<div class="about--company flex-container">
			<div class="content">
				<h3>Carolinian Canada</h3>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus velaugue laoreet rutrum faucibus dolor auctor. Duis mollis, estnon commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem alesuada magna mollis euismod.</p>
			</div>
			<div class="logo">
				<%= image_tag 'carolinian-logo.png'%>
			</div>
		</div>
		<div class="about--company flex-container">
			<div class="content">	
				<h3>WWF - Canada</h3>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus velaugue laoreet rutrum faucibus dolor auctor. Duis mollis, estnon commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem alesuada magna mollis euismod.</p>
			</div>
			<div class="logo">
				<%= image_tag 'wwf-logo.png'%>
			</div>
		</div>
	</div>
</section>
<section class="partners--section section-primary">
	<div class="wrapper">
		<h2>Community Partners</h2>
		<div class="row">
			<div class="col-md-7">
				<h3>Leamington</h3>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus velaugue laoreet rutrum faucibus dolor auctor. Duis mollis, estnon commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
				<div class="col-md-5">
					
				</div>
			</div>
			<div class="col-md-7">
				<h3>Dorchester / London</h3>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus velaugue laoreet rutrum faucibus dolor auctor. Duis mollis, estnon commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
				<div class="col-md-5">
					
				</div>
			</div>
			<div class="col-md-7">
				<h3>Rouge</h3>
				<p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus velaugue laoreet rutrum faucibus dolor auctor. Duis mollis, estnon commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
				<div class="col-md-5">
					
				</div>
			</div>
		</div>
	</div>
</section>