<section class="section--about section-primary">
	<div class="wrapper">
		<h2>About Us</h2>
		<div class="about--company flex-container">
			<div class="content">
				<h3>Carolinian Canada</h3>
				<p>Carolinian Canada’s network protects an incredible array of rare wildlife and natural treasures from Toronto to Windsor. The charity connects diverse Canadians to healthy landscapes and wild places of Canada’s deep south. Explore Carolinian Canada.  You can’t live without it. <a href="https://caroliniancanada.ca/" target="_blank">caroliniancanada.ca</a></p>
				<p class="p--small">Click <a href="https://caroliniancanada.ca/communications-privacy-policy" target="_blank">here</a> to view our Privacy Policy.</p>
			</div>
			<div class="logo">
				<%= image_tag 'carolinian-logo.png'%>
			</div>
		</div>
		<div class="about--company flex-container">
			<div class="content">	
				<h3>WWF - Canada</h3>
				<p>WWF-Canada creates solutions to the environmental challenges that matter most for Canadians. We work in places that are unique and ecologically important, so that nature, wildlife and people thrive together. Because we are all wildlife. For more information, visit <a href="http://www.wwf.ca/" target="_blank">wwf.ca</a>.</p>
				<p class="p--small">Click <a href="http://www.wwf.ca/privacy_security/" target="_blank">here</a> to view our Privacy Policy.</p>
			</div>
			<div class="logo">
				<%= image_tag 'wwf-logo.png'%>
			</div>
		</div>
	</div>
</section>
<section class="partners--section section-primary">
	<div class="wrapper">
		<h2>Communities, Partners and Supporters</h2>
		<p>Discover the three unique communities participating in In the Zone, as well as the local partners and supporters helping to deliver this program.</p>
		<br>
		<div class="row">
			<div class="col-md-7">
				<h3>Leamington</h3>
				<p>One of Canada’s southernmost municipalities, Leamington sits on the north shore of Lake Erie and includes the famous Point Pelee National Park, a prime example of the Carolinian ecosystem in Canada. Distinct beach, savannah, forest and marsh habitats are home to myriad species including giant swallowtail butterfly, eastern foxsnake, red-headed woodpecker, eastern wood-pewee, and barn swallow.</p>
				<div class="col-md-5">
					
				</div>
			</div>
			<div class="col-md-7">
				<h3>Dorchester / London</h3>
				<p>Located in the middle of Canada’s Carolinian Zone, the London/Dorchester area boasts many urban parks, a thriving gardening community, as well as the Thames River, which runs through its centre.  Species found here include the red-headed woodpecker, eastern wood-pewee, barn swallow, cerulean warbler, and southern flying-squirrel.</p>
				<div class="col-md-5">
					
				</div>
			</div>
			<div class="col-md-7">
				<h3>Rouge</h3>
				<p>Found on the easternmost edge of the Carolinian Zone, as well as the country’s largest urban centre, the Rouge is also home to Canada’s first national urban park. With a variety of habitats comes a variety of native species including the Jefferson salamander, red-headed woodpecker, barn swallow, wood thrush, southern flying-squirrel, to name a few.</p>
				<div class="col-md-5">
					
				</div>
			</div>
		</div>
	</div>
</section>