<header>
	<h1>Grow Local, Save Global - Help Rare Wildlife!</h1>
</header>
<section id="in-the-zone" class="section-primary">
	<div class="wrapper">
		<h2>In The Zone: Gardens that help native species thrive!</h2>
		<h3>Pick up a shovel, get outside and help native species and habitats across the Carolinian Zone thrive!</h3>
		<p>With nearly 1/3 of Canada’s at risk species living in a variety of unique habitats, along with one quarter of the country’s population, the Carolinian Zone is under great pressure. Help create a network of backyard habitats that supports the wider Carolinian ecosystem. With support from wildlife and gardening experts, grow gardens that become home to diverse wildlife like warblers, frogs, chipmunks, owls, monarchs, salamanders, and more, all in your own backyard. Capture/track the impact that your transformation is making for wildlife. Join the In the Zone community of gardeners and become an important part of the solution!</p>
	</div>
</section>
<section id="zone-toolkits" class="section-primary">
	<div class="wrapper">
		<h2>Who do you want to help? What do you want to grow?</h2>
		<h3>Explore our In the Zone toolkits to see which habitats attract diferent wildlife and to find one that is right for you and your garden:</h3>
		<div class="container-fluid">
			<div class="zone-toolkits--items row">
				<div class="col-md-3">		
					<figure>
						<img src="" alt="">
						<figcaption>
							<h4>Grow a bouquet.</h4>
							<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
							<h4 class="hl">Meadow & Prairie</h4>
							<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-3">		
					<figure>
						<img src="" alt="">
						<figcaption>
							<h4>Grow a bouquet.</h4>
							<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
							<h4 class="hl">Meadow & Prairie</h4>
							<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-3">		
					<figure>
						<img src="" alt="">
						<figcaption>
							<h4>Grow a bouquet.</h4>
							<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
							<h4 class="hl">Meadow & Prairie</h4>
							<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-3">		
					<figure>
						<img src="" alt="">
						<figcaption>
							<h4>Grow a bouquet.</h4>
							<p>Birds, butterflies, & other insects and pollinators survive better in gardens with local wild flowers.</p>
							<h4 class="hl">Meadow & Prairie</h4>
							<p><strong>Bonus!</strong> Support local food production with a healthy pollinator population</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="join" class="section-secondary section--join">
	<div class="wrapper text-center">
		<h2>What’s in your free Carolinian Zone toolkit? Download a starter kit.</h2>
		<h3>Join In the Zone to connect with a community network of gardeners and wildlife experts and grow a healthy and resilient neighbourhood one yard at a time.</h3>
		<a href="" class="button button--secondary">Sign Up and Count Yourself In!</a>
		<h3>Sign Up Now to explore In the Zone Toolkits.</h3>
	</div>
</section>
<section id="the-journey" class="section-primary">
	<div class="wrapper">
		<h2>The Journey</h2>
		<p>It’s easy to participate – whether you’re a gardening guru or have a brown thumb. Signing up is the first step to accessing toolkits, individualized support, tracking your impact and connecting with others in your community. Count yourself in today.</p>
		<ol class="journey--items">
			<li>
				<div class="count">
					<span>1</span>
				</div>
				<div class="content">
					<div class="img"></div>
					<div class="text">
						<h3>Count Yourself In! </h3>
						<p>Join the In the Zone Community. Sign up for updates and find a <strong>toolkit</strong> that is right for you.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>2</span>
				</div>
				<div class="content">
					<div class="img"></div>
					<div class="text">
						<h3>Count Your Garden In!</h3>
						<p>Register your garden or garden idea. You may be eligible for one-on-one <strong>expert advice</strong>, backyard consultation or <strong>free native plants.</strong></p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>3</span>
				</div>
				<div class="content">
					<div class="img"></div>
					<div class="text">
						<h3>Create and Cultivate</h3>
						<p>Grow your own, specially selected, native species garden to help Carolinian wildlife, including species at risk.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>4</span>
				</div>
				<div class="content">
					<div class="img"></div>
					<div class="text">
						<h3>Track Your Impact</h3>
						<p><strong>Measure your garden’s impact</strong>, report sightings & share garden updates using the In the Zone Garden Tracker.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="count">
					<span>5</span>
				</div>
				<div class="content">
					<div class="img"></div>
					<div class="text">
						<h3>Connect and Celebrate!</h3>
						<p>Link with like-minded <strong>neighbours</strong> via events, community gardens, EcoTrails, recognition & on-line. Keep on growing!</p>
					</div>
				</div>
			</li>
		</ol>
		<div class="text-center">
			<a href="" class="button button--primary">Sign Up and Count Yourself In!</a>
		</div>
	</div>
</section>
<section id="events" class="section--events">
	<div class="wrapper">
		<h2 class="text-center">Upcoming Events</h2>
		<div class="row">
			
			<div class="col-md-4">
				<div class="events--item">
					<h3>Go Wild - Grow Wild Expo</h3>
					<p class="date">April 8, 2017</p>
					<p>Metroland Media Agriplex Western Fair District</p>
					<p>845 Florence St. London, ON</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="events--item">
					<h3>NATURE NIGHTS</h3>
					<p class="date">April 8, 2017</p>
					<p>Metroland Media Agriplex Western Fair District</p>
					<p>845 Florence St. London, ON</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="events--item">
					<h3>Go Wild - Grow Wild Expo</h3>
					<p class="date">April 8, 2017</p>
					<p>Metroland Media Agriplex Western Fair District</p>
					<p>845 Florence St. London, ON</p>
				</div>
			</div>
		</div>
	</div>
		
</section>
<section id="sign-up" class="section--sign-up section-primary">
	<div class="wrapper">
		<h2 class="text-center">Count Yourself In! Sign Up Now</h2>
	</div>
</section>










